.divbody{
        /* min-height: 100vh;              
        background-image: url("../public/images/coffe2.jpg");
        background-size: cover;         
        background-position: center;
        background-repeat: no-repeat; */
      }
      