.allDescription {
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: rgb(31, 31, 31);
  width: 200px;
  height: 100px;
  border-radius: 8px;

}
.productpic {
  width: 200px;
  height: 270px;
  border-radius: 8px;
}
.name {
  margin: 0px 10px 0px 0px;
}
.Description {
  margin: 0px 10px 0px 0px;
}
.price {
  margin: 0px 10px 0px 0px;
  color: rgb(102, 102, 102);
}
.add-to-cart {
  margin-bottom: 10px;
  background-color: rgb(240 202 124);
  /* width: 130px;
    height: 50px; */
  /* margin-right: 10px; */
  width: 40px;
  height: 40px;
  margin-right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
.buttonprice {
  display: flex;
  flex-direction: row;
}
